{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}


{% set types = {0: 'Overall', 1: 'Outlook', 2: 'Energy level', 3: 'Focus'} %}

{% block subhead %}
  {% if date_target is defined and date_target|length %}
  <h2 class="subhead">{{ date_target }}</h2>
  {% endif %}
{% endblock %}


{% block content %}

  {% if entries %}

  {% for entry in entries %}

    <section class="entry">

      <strong>{{ entry.created_on.strftime('%-I:%M%p') }}</strong> <br>

      {{ types[entry.type] }}: {{ entry.val }}<br>
      
      {% if entry.children is defined %}
        
        {% for subentry in entry.children %}
        
          {{ types[subentry.type] }}: {{ subentry.val }}<br>
        
        {% endfor %}
        
      {% endif %}

    </section>
    
    <hr>

  {% endfor %}
  
  {% else %}
  
    No entries
    
  {% endif %}
  
{% endblock %}