{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}


{% set types = {0: 'Overall', 1: 'Outlook', 2: 'Energy level', 3: 'Focus'} %}

{% block subhead %}
  {% if date_target is defined and date_target|length %}
  <h2 class="subhead">{{ date_target }}</h2>
  {% endif %}
{% endblock %}


{% block content %}

  {% if next_day or prev_day %}

    <nav class="next-prev-wrap">

      <ul class="next-prev">

        {% if prev_day %}
          <li class="item prev"><a href="{{ url_for('entry_by_date', date_str=prev_day.day) }}" class="link">Prev</a></li>
        {% endif %}

        {% if next_day %}
          <li class="item next"><a href="{{ url_for('entry_by_date', date_str=next_day.day) }}" class="link">Next</a></li>
        {% endif %}

      </ul>

    </nav>

  {% endif %}



  {% if entries %}
  
  <div class="entries">

  {% for entry in entries %}

    <section class="entry">

      <h3 class="heading entry-time">{{ entry.created_on.strftime('%-I:%M%p') }}</h3>

      <ul class="entry-values">
        
        <li class="entry-val-item {{ types[entry.type]|lower|replace('.', '') }}"><span class="entry-val-label">{{ types[entry.type] }}:</span> <span class="entry-val">{{ entry.val }}</span></li>
      
        {% if entry.children is defined %}
          
          {% for subentry in entry.children %}
          
            <li class="entry-val-item {{ types[subentry.type]|lower|replace('.', '') }}"><span class="entry-val-label">{{ types[subentry.type] }}:</span> <span class="entry-val">{{ subentry.val }}</span></li>
          
          {% endfor %}
          
        {% endif %}
      
      </ul>

    </section>
    
    <hr>

  {% endfor %}
  
  </div>
  
  {% else %}
  
  <div class="entry-wrap no-entries">
  
    <p>No entries for this date.</p>
    
  </div>
    
  {% endif %}
  
{% endblock %}