# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual Environments
.env
.venv
venv/

# Let's Encrypt
.well-known/

# Configuration files
/config.py

# Database
*.sqlite
*.sqlite3
/migrations/

# Log Files
/log/
