
body {
  font-family: 'system-ui';
  color: var(--main-font);
  letter-spacing: 0.05em;
  background-color: var(--main-bg);
}




a:visited {
  color: var(--link-visited);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--link-active);
}


.btn {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--btn-bg);
  font-weight: 400;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-entry {
  background-color:var(--btn-entry-bg);
}

.btn:hover {
  filter: brightness(115%) saturate(120%);
}


/* Styling form fields */
/* https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ */



.page-header,
.page-body {
  text-align: center;
  padding: 0 5vw;
}

.page-header {
  margin-bottom: 3em;
  padding-top: 0.5em;
}

.page-header .page-title {
  font-weight: 400;
  font-size: 1.5em;
}

.page-header .subhead {
  font-weight: 100;
  font-size: 0.75em;
  text-transform: uppercase;
}

.page-body {
  padding-bottom: 5em;
}

.page-body .content {
  max-width: 60rem; 
  margin: 0 auto;
}








/* Dashboard */


.recent-entries {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 10em;
  margin: 1em 0;
  padding: 0;
  border: 1px solid var(--border-dark);
  background-color: var(--deep-bg);
}

.recent-entries .entry {
  display: block;
  width: calc((100% - 1px) / 30);
  height: 100%;
  margin: 0 .5px;
  position: relative;
}

.recent-entries .entry:first-of-type {
  margin-right: 0;
}

.recent-entries .entry:last-of-type {
  margin-left: 0;
}

.recent-entries .entry .link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.recent-entries .entry .summary {
  position: relative;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  transition: flex-basis 0.15s ease-in-out;
  text-indent: -99em;
  overflow: hidden;
  background-color: var(--entry);
}

.recent-entries .entry.no-results .summary {
  display: none;
}

.recent-entries .entry.multiple-entries .summary::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 75%;
  height: 0;
  padding-bottom: 75%;
  line-height: 1;
  background-color: var(--entry-off);
  transform: rotate(45deg);
  margin-right: -38%;
  margin-bottom: -38%;
}

.recent-entries .entry.entry-val-00 .link .summary { flex-basis: 0; }

.recent-entries .entry.entry-val-05 .link .summary { flex-basis: 10%; }

.recent-entries .entry.entry-val-10 .link .summary { flex-basis: 20%; }

.recent-entries .entry.entry-val-15 .link .summary { flex-basis: 30%; }

.recent-entries .entry.entry-val-20 .link .summary { flex-basis: 40%; }

.recent-entries .entry.entry-val-25 .link .summary { flex-basis: 50%; }

.recent-entries .entry.entry-val-30 .link .summary { flex-basis: 60%; }

.recent-entries .entry.entry-val-35 .link .summary { flex-basis: 70%; }

.recent-entries .entry.entry-val-40 .link .summary { flex-basis: 80%; }

.recent-entries .entry.entry-val-45 .link .summary  { flex-basis: 90%; }

.recent-entries .entry.entry-val-50 .link .summary  { flex-basis: 100%; }

.recent-entries .entry .link:hover .summary {
  background-color: var(--entry-on);
}

.recent-entries .entry::after {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 1px;
  height: 0.25em;
  background-color: var(--border-light);
}

.recent-entries .entry-date {
  display: none;
  position: absolute;
  top: calc((100% + 1px) + 0.25em);
  left: 50%;
  margin-top: 0.3em;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 200;
  font-size: 0.7em;
  line-height: 1;
}

.recent-entries .entry:first-of-type::after,
.recent-entries .entry:first-of-type .entry-date {
  display: block;
}

.recent-entries .entry:last-of-type::after,
.recent-entries .entry:last-of-type .entry-date,
.recent-entries .entry:nth-child(16)::after,
.recent-entries .entry:nth-child(16) .entry-date {
  display: block;
}

.recent-entries .entry:first-of-type .entry-date {
  left: auto;
  transform: none;
  right: 0;
}

.recent-entries .entry:last-of-type .entry-date {
  left: 0;
  transform: none;
}

.recent-entries .entry-date .full {
 display: none;
}




/* Entries */

.entry-val-item .entry-val-label {
  font-size: 1.5em;
  font-weight: 400;
}

.entry-val-item .entry-val {
  display: block;
  font-size: 1.8em;
  font-weight: 200;
}

.entry-val-item .entry-val-label {
  font-size: 1.5em;
  font-weight: 400;
}

.entry-val-item.field-overall .entry-val-label {
  font-size: 2em;
  font-weight: 200;
}

.entry-val-item.field-overall > .entry-val {
  color: var(--val-overall);
  font-weight: 300;
}

.entry-val-item.field-outlook > .entry-val {
  color: var(--val-outlook);
}

.entry-val-item.field-energy-level > .entry-val {
  color: var(--val-energy);
}

.entry-val-item.field-focus > .entry-val {
  color: var(--val-focus);
}






/* List view */

.next-prev-wrap {}

.next-prev-wrap .next-prev {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto 3em auto;
}

.next-prev-wrap .next-prev .item {
  display: inline-block;
}

.next-prev-wrap .next-prev .item.next {
  margin-left: auto;
}



.entry-list.entries .heading.entry-time {
  font-weight: 100;
  letter-spacing: 0.1em;
  display: inline-block;
  border-bottom: 1px solid var(--border-light);
}

.entry-list.entries .entry-values {
  display: block;
  margin: 0;
  padding: 0;
}

.entry-list.entries .entry-values > .entry-val-item {
  display: block;
}

.entry-list.entries .field-overall {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.entry-list .separator {
  height: 1px;
  overflow: hidden;
  max-width: 25em;
  border: none;
  margin: 3em auto;
  background-color: var(--border-light);
}




/* Forms */

.hd-form {
}

.hd-form .fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.hd-form .fieldset.required {
  padding-bottom: 0.75em;
  margin-bottom: 2em;
}

.hd-form .fieldset.required::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 100%;
  max-width: 20em;
  transform: translateX(-50%);
  background-color: var(--border-light);
}

.hd-form .legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hd-form .field-wrap {
  margin-bottom: 1em;
}

.hd-form .label-wrap {
  display: block;
}

.hd-form .input-wrap {
  display: block;
}

.hd-form .field-wrap.field-submit {
  margin-top: 2em;
}








/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--border-light);
  background-color: var(--secondary-bg);
}

.footer .nav .nav-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
}

.footer .nav .nav-items .nav-item {
 list-style-type: none; 
}