
body {
  font-family: 'system-ui';
  color: var(--main-font);
  background-color: var(--main-bg);
}




a:visited {
  color: var(--link-visited);
}

a {
	color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--link-active);
}




.page-header,
.page-body {
  text-align: center;
  padding: 0 5vw;
}

.page-body .content {
  max-width: 60rem; 
  margin: 0 auto;
}






/* Dashboard */


.recent-entries {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 10em;
  margin: 0 -0.5px;
  padding: 0;
  border: 1px solid var(--outline-dark);
  background-color: var(--deep-bg);
}

.recent-entries .entry {
  display: block;
  width: calc((100% - 1px) / 30);
  height: 100%;
  margin: 0 .5px;
  overflow: hidden;
}

.recent-entries .entry .link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.recent-entries .entry.multiple-entries .link::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 75%;
  height: 0;
  padding-bottom: 75%;
  line-height: 1;
  background-color: var(--entry-off);
  transform: rotate(45deg);
  margin-right: -38%;
  margin-bottom: -38%;
}

.recent-entries .entry .summary {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  transition: flex-basis 0.15s ease-in-out;
  text-indent: -99em;
  overflow: hidden;
  background-color: var(--entry);
}

.recent-entries .entry.entry-val-00 .link .summary { flex-basis: 0; }

.recent-entries .entry.entry-val-05 .link .summary { flex-basis: 10%; }

.recent-entries .entry.entry-val-10 .link .summary { flex-basis: 20%; }

.recent-entries .entry.entry-val-15 .link .summary { flex-basis: 30%; }

.recent-entries .entry.entry-val-20 .link .summary { flex-basis: 40%; }

.recent-entries .entry.entry-val-25 .link .summary { flex-basis: 50%; }

.recent-entries .entry.entry-val-30 .link .summary { flex-basis: 60%; }

.recent-entries .entry.entry-val-35 .link .summary { flex-basis: 70%; }

.recent-entries .entry.entry-val-40 .link .summary { flex-basis: 80%; }

.recent-entries .entry.entry-val-45 .link .summary  { flex-basis: 90%; }

.recent-entries .entry.entry-val-50 .link .summary  { flex-basis: 100%; }

.recent-entries .entry .link:hover .summary {
  background-color: var(--entry-on);
}




/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-bg);
}

.footer .nav .nav-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
}

.footer .nav .nav-items .nav-item {
 list-style-type: none; 
}