:root {
  color-scheme: light dark;

	--main-bg: #212121;
	--secondary-bg: #323232;

	--main-font: #ece8d9;

	--link: #0d7377;
	--link-hover: #14ffec;
	--link-active: #14ffec;
	--link-visited: #0d7377;


	--entry: #69AC99;
	--entry-on: #70B8A3;
	--entry-off: #416B5F;
}

@media ( prefers-color-scheme: light ) {

	:root {
		--main-bg: #faf6e9;
		--secondary-bg: #fffdf6;
	
		--main-font: #212121;
	}

}
