:root {

  color-scheme: light dark;

	--main-bg: #212121;
	--secondary-bg: #323232;
	--deep-bg: #1d1d1d;

	--main-font: #ece8d9;

	--link: #0d7377;
	--link-hover: #14ffec;
	--link-active: #14ffec;
	--link-visited: #0d7377;


	--entry: #69AC99;
	--entry-on: #70B8A3;
	--entry-off: #416B5F;
	
	--border-dark: #111;
	--border-medium: #1a1a1a;
	--border-light: #444;

	--btn-bg: #505FB3;
	--btn-entry-bg: #6AB364;

	--msg-err: #CC1851;

	--val-overall: #ffbe00;
	--val-outlook: #8BD44C;
	--val-energy: #f36e0e;
	--val-focus: #6391e6;

}





@media ( prefers-color-scheme: light ) {

	:root {
		--main-bg: #faf6e9;
		--secondary-bg: #fffdf6;
		--deep-bg: #E6E4DC;

		--main-font: #403F3D;

  	--border-dark: #BFBEB8;
		--border-medium: #F0ECDF;
		--border-light: #fff;
	}

}
