






@media (min-width: 768px) {

  body {
    padding-left: 7rem;
  }

  .footer {
    top: 0;
    width: 7rem;
    border-top: none;
  	border-right: 1px solid var(--border-medium);
  }
  
  .footer .nav {
    height: 100%;
  }
  
  .footer .nav .nav-items {
    flex-direction: column;
    height: 100%;
    max-height: 40em;
  }



  .recent-entries .entry-date .full {
   display: block;
  }

  .recent-entries .entry-date .short {
   display: none;
  }

} 