<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="color-scheme" content="dark light">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=3">
<title>{% block title %}{% endblock %} - Happy Days</title>
{% assets "css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}

</head>
<body class="page-{{ request.endpoint|lower|replace('_', '-') }}">
  
  <header class="page-header">

    <h1 class="page-title">{{ self.title() }}</h1>
    
    {% block subhead %}{% endblock %}
    
  </header>
  
  
  
  
  {% with messages = get_flashed_messages() %}
  
    {% if messages %}
    
    <aside class="flash">
      
      <ul class="messages">
      
        {% for message in messages %}
        
        <li class="message">{{ message }}</li>
      
        {% endfor %}
        
      </ul>
      
    </aside>
    
    {% endif %}
    
  {% endwith %}
  
  
  
  <main class="page-body">
  
    <article class="content">
      
      {% block content %}{% endblock %}
      
    </article>
    
  </main>
  
  
  
  
  <footer class="footer">
    
    <nav class="nav">
    
      <ul class="nav-items">
        
        {% if request.endpoint == 'dashboard' %}
        
          <li class="nav-item account"><a href="{{ url_for('account') }}" class="link">My Account</a>
            
        {% else %}
        
          <li class="nav-item home"><a href="{{ url_for('index') }}" class="link">Home</a>
        
        {% endif %}
    
        {% if current_user.is_authenticated %}
    
        <li class="nav-item new-entry"><a href="{{ url_for('new_entry') }}" class="link">New</a></li>
      
        <li class="nav-item logout"><a href="{{ url_for('logout') }}" class="link">Log out</a></li>
      
        {% else %}
      
        <li class="nav-item login"><a href="{{ url_for('login') }}" class="link">Log in</a></li>
    
        {% endif %}
    
    </nav>
    
  </footer>
      
</body>
</html>