<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Happy Days</title>
</head>
<body>
  
  <h1>{{ self.title() }}</h1>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  
  {% block content %}{% endblock %}
  
  <footer class="footer">
    
    <a href="{{ url_for('index') }}">Home</a>
    
    <a href="{{ url_for('new_entry') }}">New</a>
    
    <a href="{{ url_for('logout') }}">Log out</a>
    
  </footer>
      
</body>
</html>
