{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  {% if recent_entries %}
  <ul class="recent-entries">
  {% for entry in recent_entries %}
    
    {% if entry.num_entries > 1 %}

  		{% set val = ((entry.avg * 2)|round(0, 'ceil') / 2) %}
  		{% set multiple_entries = True %}

  	{% else %}

  		{% set val = entry.avg %}
  		{% set multiple_entries = False %}

  	{% endif %}

  	{% set entry_val_class = 'entry-val-' ~ val|replace('.', '') %}
 
    <li class="entry {{ entry_val_class }}{% if multiple_entries %} multiple-entries{% endif %}" data-val-raw="{{ entry.avg }}" data-val-rounded="{{ entry.avg|round(0, 'ceil') }}">

    	<a href="#" class="link"><span class="summary">{{ entry.created_on.strftime('%b. %d') }} - {{ val }}{% if multiple_entries %} *{% endif %}</span></a>

  	</li>

  {% endfor %}
  </ul>
  {% endif %}

  <p>Gonna be the main template homepage.</p>

{% endblock %}