{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


  {% if entries_by_day %}
  <ul class="recent-entries">
  {% for entry in entries_by_day %}
  
    {% set entry = entry[0] %}
  
    {% if entry.has_no_entry %}
    
      <li class="entry no-results">
        <span class="summary">No entries</span>
        <span class="entry-date">
          <span class="full">{{ entry.date_ago.strftime('%a, %b. %d') }}</span>
          <span class="short">{{ entry.date_ago.strftime('%-d/%m') }}</span>
        </span>
      </li>
      
    {% else %}
      
      {% if entry.num_entries > 1 %}
  
        {% set val = ((entry.avg * 2)|round(0, 'ceil') / 2) %}
        {% set multiple_entries = True %}
  
      {% else %}
  
        {% set val = entry.avg %}
        {% set multiple_entries = False %}
  
      {% endif %}
  
      {% set entry_val_class = 'entry-val-' ~ val|replace('.', '') %}
   
      <li class="entry {{ entry_val_class }}{% if multiple_entries %} multiple-entries{% endif %}">
    
        <a href="{{ url_for('entry_by_date', date_str=entry.created_on.strftime('%Y-%m-%d')) }}" class="link">
          <span class="summary">{{ entry.created_on.strftime('%b. %d') }} - {{ val }}{% if multiple_entries %} *{% endif %}</span>
        </a>
        <span class="entry-date">
          <span class="full">{{ entry.created_on.strftime('%a, %b. %d') }}</span>
          <span class="short">{{ entry.created_on.strftime('%-d/%m') }}</span>
        </span>
    
      </li>
      
    {% endif %}

  {% endfor %}
  </ul>
  {% endif %}
  

{% endblock %}