{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}


{% block content %}  
  
  {% if user_modified %}
    <p>The database was updated. You should set all of your Admin User fields
      to false in config.py <strong>right now</strong>.</p>
    <p>After you've cleared your config file <a href="{{ url_for('index') }}">Head on in</a>.</p>
  {% endif %}
  
  
  {% if modify_user and not user_modified %}
    <p>
      <strong>Update the database with the user in your config file?</strong>
      <a href="{{ url_for('setup') }}?modify_user=yes">Yes</a>
    </p>
  {% elif not modify_user %}
  
    <p>You don't have valid data in your config.py file. No changes will be made to the database.</p>
  
  {% endif %}
  
{% endblock %}